// Colors
$primary: #461e7d;
$secondary: #fd6600;
$complementary: #5738ff;
$black: #000000;
$white: #ffffff;
$AvenirBook: "Avenir-Book", Arial, Helvetica, sans-serif;
$AvenirBlack: "Avenir-Black", Arial, Helvetica, sans-serif;

@import "./fonts.scss";

// CSS BELOW
body {
  background-color: $white;
  font-family: $AvenirBook;
  text-align: left;
  opacity: 1;
  width: 1440px;
  height: 1759px;
  margin: 40px auto;
}

.ordina {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.ordina p {
  text-align: right;
  font: normal normal normal 15px/20px;
  letter-spacing: 0px;
  color: $complementary;
  margin-right: 10px;
}

.fa-chevron-down {
  color: $complementary;
}

// filtri
.borderRight {
  border-right: 1px solid #0000001a;
  height: 100%;
}

.categorie p,
.filters p {
  font: normal normal 900 12px/20px $AvenirBlack;
  letter-spacing: 0.6px;
  color: $black;
}

.categorie ul {
  list-style-type: none;
}

.filters p {
  margin-top: 30px;
}

.filters label {
  font: normal normal normal 15px/20px $AvenirBook;
  letter-spacing: 0px;
  color: $black;
  margin-top: 10px;
}

//card boiler
.boiler {
  margin-bottom: 30px;
}

#cardImg {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #00000008 0% 0% no-repeat padding-box;
  border-radius: 3px;
  position: relative;
  height: 180px;
  padding: 15px 15px 0 0;
}

.immagine-boiler {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}

.btn {
  font: normal normal 900 12px/15px $AvenirBlack;
  letter-spacing: 0px;
  color: $white;
  background: $secondary 0% 0% no-repeat padding-box;
  border-radius: 0px 3px 3px 0px;
  padding: 5px 10px;
}

.btn:hover {
  color: $white;
}

.fa-heart {
  color: #00000033;
}

.brands {
  font: normal normal 900 12px/15px $AvenirBlack;
  letter-spacing: 0.6px;
  color: $black;
  margin-top: 10px;
}

.descrizione {
  font: normal normal normal 15px/20px;
  letter-spacing: 0px;
  color: $black;
}

.prezzo {
  font: normal normal 900 20px/22px $AvenirBlack;
  letter-spacing: 0px;
  color: $primary;
  margin-right: 10px;
}

.prezzoPreSconto {
  font: normal normal 900 12px/15px $AvenirBlack;
  letter-spacing: 0px;
  color: $black;
  opacity: 0.5;
  text-decoration: line-through;
}

.note {
  font: normal normal 900 12px/25px $AvenirBlack;
  letter-spacing: 0px;
  color: $primary;
}

.scontato {
  color: $secondary;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.confronta {
  display: flex;
  align-items: center;
  text-align: right;
  font: normal normal 900 12px/15px $AvenirBlack;
  letter-spacing: 0.6px;
  color: #0000004d;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  bottom: 0;
  top: auto;
  height: 65px;
  width: 1440px;
  background-color: $complementary;
  padding: 19px 30px;
}

.banner p {
  font: normal normal normal 20px/26px $AvenirBook;
  letter-spacing: 0px;
  color: $white;
}

.btn-confronta {
  border: 2px solid #ffffff;
  border-radius: 100px;
  background-color: $complementary;
  color: $white;
  //padding: 15px 40px;
  font: normal normal 900 12px/20px $AvenirBook;
  letter-spacing: 0.6px;
  width: 162px;
  height: 45px;
}
